DATABASE_URL="postgresql://postgres:postgres@localhost:5432/autoapplication?schema=public"

NEXTAUTH_SECRET="change-me-in-production-use-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Job APIs
RAPIDAPI_KEY=""
JSEARCH_HOST="jsearch.p.rapidapi.com"
ADZUNA_APP_ID=""
ADZUNA_APP_KEY=""
